<% @yelp_results["businesses"].each do |business| %>
  var template  = "<li><%=j link_to business['name'], business['url'] %>"
      template += " <%=j image_tag(business['rating_img_url']) %></li>"
  $("#bars").append(template);
<% end %>
