<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
function success(position) {
  var lat = position.coords.latitude;
  var lng = position.coords.longitude;

  $.post( "/position/", { latitude: lat, longitude: lng } );
}

function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  error('not supported');
}
</script>

<div id="bars">
</div>
